@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Secular+One&family=Signika+Negative:wght@500&display=swap');

header {
    box-shadow: 0px 15px 10px -15px #111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px;
    padding-left: 50px;
}

#welcomeUser {
    font-weight: bold;
    padding-right: 30px;
    padding-bottom: 10px;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    margin: 30px;
    text-align: center;
    color: #0e3c7e;
    padding-bottom: 8px
}

