body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: lavender;
}

ul {
  list-style-type: none;
  padding-bottom: 10px;
}

.Header {
  text-align: start;
  padding-left: 40px;
  padding-bottom: 20px;
}

.container {
  display: flex;
}

.MenuList {
  text-align: left;
  padding-left: 30px;
  flex: 1 1;
  background-color: white;
}

.MenuItem {
  padding: 10px;
}

button {
  margin-right: 10px;
  padding: 6px;
  border: black solid .5px;
}

.Sidebar {
  background-color: lightgray;
  text-align: start;
  padding-right: 40px;
  padding-left: 20px;
}

.remove {
  background-color: lavender;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}