body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Header {
  text-align: center;
}

.BasicItem {
  border: black solid 1px;
  padding-left: 20px;
  padding-bottom: 40px;
}

.BasicItem:nth-child(odd) {
  background-color: cadetblue;
}

.BasicItem:nth-child(even) {
  background-color: whitesmoke;
}

.BasicItem ul {
  font-weight: bold;
}

ul {
  list-style: none;
}

.name {
  font-weight: bold;
  font-style: italic;
  font-size: larger;
  margin-bottom: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
