body {
    background-color: rgb(39 48 67);
    margin-left: 40px;
    margin-right: 40px;
}

h1 {
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Signika Negative', sans-serif;
    font-size: 3em;
}

div {
    background-color: rgb(239 246 238);
    border: 2px solid black;
    padding-bottom: 40px;
}

div:nth-child(odd) {
    background-color: rgb(145 151 174);
}

div h1 {
    color: rgb(39 48 67);
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5em;
    padding: 30px 25px 0px 25px;
}

img,
a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

img {
    width: 25%;
}

a {
    text-align: center;
    color: rgb(39 48 67);
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5em;
}