.main {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-bottom: 50px;
}

.main>* {
  flex: 1;
  margin: 25px;
}

.AdsOnly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.votingOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
.main {
  display: flex;
  flex-direction: column;
}

}