body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

ul{
  padding-top: 20px;
  padding-bottom: 20px;
}

ul:nth-child(odd) {
  background-color: rgb(29, 63, 200);
  color: whitesmoke;
}

li {
  list-style: none;
  padding: 5px
}

.name {
  font-weight: bolder;
  font-size: x-large;
  padding-bottom: 15px;
}